 /*       Base       *\ 
 \*                  */

    /* Reset Basic */
        * {
            padding: 0;
            margin: 0;
            font-family: 'Open Sans', sans-serif;
            box-sizing: border-box;
        }

        html, body{
            width: 100%;
            height: 100%;
        }
        
        ul > li {
            list-style: none;
            display: inline-block;
        }

        a {
            text-decoration: none;
        }

    header {
        position: fixed;
        width: 100%;
        box-shadow: 0 -3px 12px #000;
        z-index: 4;
    }
    header {
        background: var(--ocean);
    }

    footer {
        background: rgb(21, 70, 110);
        text-align: center;
    }

    footer p {
        padding: 20px 0;
        font-size: 14px;
        color: #ccc;
    }

    footer p em a {
        color: #fff;
        text-decoration: none; 
    }
    /* Cores */
        :root {
            --ocean: #285B86;
        }
    


 /*      Layout      *\ 
 \*                  */

    /* Container */
        .container {
            width: 96%;
            margin: 0 auto;
            max-width: 960px;
        }

    /* Row */

        .row {
            display: flex;
            flex-wrap: wrap;
            box-sizing: border-box;
            align-items: stretch;
        }

            .row > .col-1 {
                width: 100%;
            }

            .row > .col-2 {
                width: 50%;
            }

            .row > .col-3 {
                width: 33.33333%;
            }

            @media screen and (max-width: 770px){
                .container {
                    width: 93%;
                    margin: 0 auto;
                }

                .row {
                    display: flex;
                    flex-wrap: wrap;
                    box-sizing: border-box;
                    align-items: stretch;
                }

                    .row > .col-1--small {
                        width: 100%;
                    }
                
                    .row > .col-2--small {
                        width: 50%;
                    }
                
                    .row > .col-3--small {
                        width: 33.33333%;
                    }
            }


 /*    Componentes    *\ 
 \*                   */
    

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 0;
    }

        .header > h1,
            .header a {
            color: white;
            font-weight: 300;
            text-transform: uppercase;
            }
    
        .menu li {
            margin-left: 20px;
        }

        .btn-mobile {
            display: none;
            font-size: 25px;
            margin-right: 5px;
            color: white;
            cursor: pointer;
        }

        .menu-mobile {
            display: none;
            position: absolute;
            left: 0;
            top: 75px;
            width: 100%;
            justify-content: center;
        }

            .menu-mobile > ul {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
            }

                .menu-mobile > ul li {
                    width: 100%;
                    border-bottom: 1px solid rgba(77, 77, 77, 0.781);
                    background-color: rgba(24, 23, 23, 0.493);
                    padding: 8px 0;
                }

                    .menu-mobile > ul li a {
                        color: #fff;
                        font-weight: bold;
                        font-size: 16px;
                    }

    .banner {
        height: 100%;
        max-height: 530px;
        background-image: url('../imagens/bg-form-coding.jpg');
        background-size: cover;
        z-index: 1;
        position: relative;
    }

        .banner-overlay {
            width: 100%;
            height: 100%;
            background-color: rgba(51, 51, 51, 0.7);
            z-index: 2;
            position: absolute;
        }

        .space {
            width: 100%;
            height: 70px;
        }

        .form {
            position: relative;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
        }

            .form > form {
                width: 93%;
                max-width: 600px;
                z-index: 3;
                
            }

            form input {
                width: 100%;
                height: 45px;
                margin-bottom: 15px;
                border: none;
                border-radius: 3px;
            }

                form input[type=submit] {
                    background: rgb(1, 145, 189);
                    color: white;
                    text-transform: uppercase;
                    cursor: pointer;
                    font-size: 16px;
                }

                    form input[type=submit]:hover {
                        background: rgb(1, 153, 199);
                        font-weight: bold;
                    }
                
                form input[type=email] {
                    color: rgba(0, 0, 0, 0.568);
                    font-size: 14px;
                    font-weight: bold;
                    padding-left: 15px;
                }
    
    section .autor {
        padding: 45px 0;
    }

        .autor-txt > h2{
            margin-bottom: 15px;
        }

        .autor-txt > p {
            color: rgb(97, 97, 97);
            margin-bottom: 10px;
            padding-left: 8px;
        }

        .autor-img {
            text-align: center;
            align-self: center;
            padding: 10px 0;
        }
            .autor-img > img{
                width: 100%;
                max-width: 300px;
            }
    
    section.habilidades {
        background-color: #ddd;
        padding: 45px 0;
    }            

        .espec-tt {
            text-align: center;
            margin-top: 10px;
            color: rgb(119, 119, 119);
        }
        .box-card {
            padding: 40px;
            text-align: center;
        }

            .box-card > h3 > i {
                font-size: 30px;
                margin-bottom: 10px;
                color: #285B86;
            }

            .box-card > h4 {
                font: 25px;
                text-transform: uppercase;
                margin-bottom: 10px;
            }


    .work {
        background: #285B86;
    }

        .work-box {
            padding: 20px 10px;
        }

            .work-box h2 {
                padding: 10px 0;
                color: rgba(224, 224, 224, 0.952);
                text-shadow: 1px 2px 8px rgba(34, 34, 34, 0.342);
            }

            .work-box p {
                color: rgba(194, 194, 194, 0.849);
                padding: 10px 0; 
            }

            .work-box-depoi p {
                font-style: italic;
            }

            .nome-autor {
                border-bottom: 1px solid rgb(23, 64, 97);
                cursor: pointer;
                font-weight: bold;
            }
                
 /*       State       *\ 
 \*                   */
    @media screen and (max-width: 770px){
        
        .is-disabled {
            display: none;
        }

        .is-enabled {
            display: block;
        }
    }

    /* Hack */

    @media screen and (min-width: 770px){
        .is-none {
            display: none !important;
        }
    }
        